/* Add CSS Styling */

.odd {background-color: lightpink;
      font-family: Verdana, "DejaVuSans", sans-serif;}

#notwo {color: rgb(51, 0, 255);
         font-size: 36px;}

#size {font-size: 24px;}

#another {background-color: rgb(144, 238, 144);
          font-size: 24px;
          font-weight: bold;}   