/* Add CSS Styling */
.first{background-color: black;
       color: aliceblue;}

.second{background-color: yellow;}

.first,
.second {font-size: 28px;
         font-family: Helvetica, 'times new roman', sans-serif;}